.burger { /*Цвета и размеры Бургера задаем в виде переменных*/
  display: none;
  position: relative;
  --width: 21px;
  --height: 14px;
  --size-line: 2px;
  --color: var(--main-bg-color);
  width: var(--width);
  height: var(--height);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.burger__line {
position: absolute;
left: 0;
right: 0;
top: 50%;
height: var(--size-line);
transform: translateY(-50%) scale(1);
background-color: var(--color);
transition: transform .3s ease-out;
}

.burger::after, .burger::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: var(--size-line);
  background-color: var(--color);
  transition: transform .3s ease-out, top .3s ease-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  top: calc(100% - var(--size-line));
}

.burger_active::before {
  top: 50%;
  transform: rotate(-45deg);
}

.burger_active .burger__line {
  transform: translateY(-50%) scale(0);
  bottom: auto;
}


.burger_active::after {
  top: 50%;
  transform: rotate(45deg);
  bottom: 0;
}

@media (max-width: 1000px) {
  .burger {
    display: block;
  }
}

@media (max-width: 760px) {
 
}

@media (max-width: 580px) {
 .burger {
   --width: 18px;
   --height: 12px;
 }
}