@font-face {
  font-family: Cormorant;
  font-weight: 700;
  src: local("Cormorant-Bold"), local("Cormorant"),
    url("../fonts/cormorant-v11-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/cormorant-v11-latin_cyrillic-700.woff") format("woff");
  font-display: swap;
  /* Для предзагрузки шрифтов */
}

html {
  box-sizing:border-box;
  scroll-behavior: smooth; /*Плавная прокрутка*/
}

/*Наслдеование box-sizing*/
*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  letter-spacing: .04em;
  color: var(--main-color)
    /*Цвет через переменные*/
}

h1,
h2 {
  font-family: Cormorant, serif;
}

.container {
  max-width: 1390px; /*С учетом добавленного паддинга*/
  margin: 0 auto;
  padding: 0 50px; /*Добавив паддинг прибавляем эту величину *2 в max-width*/
}

.hide {
  display: none;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input {
  font: inherit;
  cursor: pointer;
}
/*Стили для скрытых заголовком, для доступности сайта для ЛСВ*/
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  overflow: hidden;
}


@media (max-width: 1440px) {
  .container {
    padding: 0 42px;
  }
}

@media (max-width: 1200px) {
 
}

@media (max-width: 1000px) {
  .container {
    padding: 0 39px;
  }
  .b-page_newyear .b-head-decor {
    top: -30px;
  }
}

@media (max-width: 760px) {
 
}

@media (max-width: 580px) {
  .container {
    padding: 0 10px;
  }
}